
/*flex-boxes*/
 body { display: flex;
       justify-content:center;
       align-items: center;
      min-height:100vh;
    background-color:greenyellow;
}
main {align-items: flex-start;
    display: flex;
    min-width: 1000px;
    gap: 61px;
    padding:10px;
    background-color: gray
}
#sketch_pad {border: 3px solid black;
    display:flex;
    flex-wrap:wrap;
    height:600px;
    width: 600px;
    background-color: white;
    
}
#function_bar {display:flex;
    flex-direction: column;
    background-color: white;
    min-width: 300px;
    justify-content: space-around;
}

/*flex-boxes*/